# T-student test

In [1]:
import pandas as pd
from scipy import stats

In [2]:
dfs = pd.read_excel('v79 48h 1.xlsx', sheet_name='Arkusz1')

In [3]:
df = dfs[dfs['C1'].notna()] #usuwanie pustych pozycji

In [5]:
df.describe()

              C1         C2         C3         C4          K
count  45.000000  45.000000  45.000000  45.000000  45.000000
mean    0.047087   0.142362   0.265207   0.501488   1.337240
std     0.007820   0.028149   0.042421   0.052561   0.180019
min     0.037968   0.063803   0.193937   0.402572   0.919649
25%     0.040991   0.134446   0.232577   0.457189   1.274991
50%     0.043984   0.144685   0.260904   0.492869   1.386058
75%     0.052104   0.157378   0.292909   0.548192   1.435469
max     0.076428   0.195849   0.363323   0.596094   1.767295

In [6]:
df.dtypes

C1    float64
C2    float64
C3    float64
C4    float64
K     float64
dtype: object

In [8]:
df0 = df[['C1','C2','C3','C4']]
df1 = df['C1']
df2 = df['C2']
df3 = df['C3']
df4 = df['C4']
df5 = df['K']

In [9]:
# check p-values for each col
stats.ttest_ind(df0, df5)

Ttest_indResult(statistic=array([-48.03069238, -43.99114499, -38.88303784, -29.89507271]), pvalue=array([6.37712038e-65, 1.06963358e-61, 3.29407945e-57, 7.21532356e-48]))

In [17]:
# check basic statistics
import researchpy as rp
list_of_cols = [df1,df2,df3, df4]

for i in list_of_cols:
    summary, results = rp.ttest(i,df5)
    print(f'{summary}\n{results}\n\n\n')

   Variable     N      Mean        SD        SE  95% Conf.  Interval
0        C1  45.0  0.047087  0.007820  0.001166   0.044738  0.049437
1         K  45.0  1.337240  0.180019  0.026836   1.283156  1.391324
2  combined  90.0  0.692164  0.660947  0.069670   0.553731  0.830596
          Independent t-test   results
0     Difference (C1 - K) =    -1.2902
1      Degrees of freedom =    88.0000
2                       t =   -48.0307
3   Two side test p value =     0.0000
4  Difference < 0 p value =     0.0000
5  Difference > 0 p value =     1.0000
6               Cohen's d =   -10.1258
7               Hedge's g =   -10.0392
8           Glass's delta =  -164.9842
9             Pearson's r =     0.9815



   Variable     N      Mean        SD        SE  95% Conf.  Interval
0        C2  45.0  0.142362  0.028149  0.004196   0.133905  0.150819
1         K  45.0  1.337240  0.180019  0.026836   1.283156  1.391324
2  combined  90.0  0.739801  0.614294  0.064752   0.611140  0.868463
          Independent t-test  results
0     Difference (C2 - K) =   -1.1949
1      Degrees of freedom =   88.0000
2                       t =  -43.9911
3   Two side test p value =    0.0000
4  Difference < 0 p value =    0.0000
5  Difference > 0 p value =    1.0000
6               Cohen's d =   -9.2741
7               Hedge's g =   -9.1949
8           Glass's delta =  -42.4488
9             Pearson's r =    0.9780



   Variable     N      Mean        SD        SE  95% Conf.  Interval
0        C3  45.0  0.265207  0.042421  0.006324   0.252462  0.277951
1         K  45.0  1.337240  0.180019  0.026836   1.283156  1.391324
2  combined  90.0  0.801224  0.554485  0.058448   0.685089  0.917358
          Independent t-test  results
0     Difference (C3 - K) =   -1.0720
1      Degrees of freedom =   88.0000
2                       t =  -38.8830
3   Two side test p value =    0.0000
4  Difference < 0 p value =    0.0000
5  Difference > 0 p value =    1.0000
6               Cohen's d =   -8.1973
7               Hedge's g =   -8.1272
8           Glass's delta =  -25.2713
9             Pearson's r =    0.9721



   Variable     N      Mean        SD        SE  95% Conf.  Interval
0        C4  45.0  0.501488  0.052561  0.007835   0.485697  0.517279
1         K  45.0  1.337240  0.180019  0.026836   1.283156  1.391324
2  combined  90.0  0.919364  0.440420  0.046424   0.827120  1.011608
          Independent t-test  results
0     Difference (C4 - K) =   -0.8358
1      Degrees of freedom =   88.0000
2                       t =  -29.8951
3   Two side test p value =    0.0000
4  Difference < 0 p value =    0.0000
5  Difference > 0 p value =    1.0000
6               Cohen's d =   -6.3024
7               Hedge's g =   -6.2486
8           Glass's delta =  -15.9005
9             Pearson's r =    0.9541

#  Mann Whitneyu method

In [11]:
# checking the mann whitneyu method
from scipy.stats import mannwhitneyu

# Carrying out the Wilcoxon–Mann–Whitney test
list_of_cols = ['C1','C2','C3','C4']
for i in list_of_cols:
    results = mannwhitneyu(df[i], df5)
    print(f'{i} :{results}')

C1 :MannwhitneyuResult(statistic=0.0, pvalue=1.5868425551860282e-16)
C2 :MannwhitneyuResult(statistic=0.0, pvalue=1.5868425551860282e-16)
C3 :MannwhitneyuResult(statistic=0.0, pvalue=1.5868425551860282e-16)
C4 :MannwhitneyuResult(statistic=0.0, pvalue=1.5868425551860282e-16)

In [12]:
print("%.100f" % round(1.5868425551860282e-16, 100))

0.0000000000000001586842555186028240636965381061941779168216951198186470683992865815525874495506286621

#  T-student for min & max

In [13]:
min_c1 = df['C1'].min()
max_c1 = df['C1'].max()
min_c2 = df['C2'].min()
max_c2 = df['C2'].max()
min_c3 = df['C3'].min()
max_c3 = df['C3'].max()
min_k = df['K'].min()
max_k = df['K'].max()

In [14]:
data = [
    (min_c1, min_c2, min_c3, min_k),
    (max_c1, max_c2, max_c3, max_k)
]

In [15]:
df_nowe = pd.DataFrame(data, columns = ['C1', 'C2', 'C3','K'])

In [16]:
df_nowe

         C1        C2        C3         K
0  0.037968  0.063803  0.193937  0.919649
1  0.076428  0.195849  0.363323  1.767295

In [17]:
stats.ttest_ind(df_nowe[['C1','C2','C3']], df_nowe['K'])

Ttest_indResult(statistic=array([-3.03181397, -2.82944342, -2.46375928]), pvalue=array([0.09374437, 0.10550856, 0.13272156]))